# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Compiled output
out/
dist/

# Logs
logs
*.log

# User-specific files
.vscode/
.settings/

# Dependency directories
.env

# Editor/IDE specific files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
